*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    --twitter-color: #50b7f5;
    --twitter-background:#e6ecf0;

}
.SidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;


}
.SidebarOption .material-icons,.fa-twitter{
padding: 20px;

}
.SidebarOption h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.SidebarOption:hover{
    background-color:sienna;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;

}
.SidebarOption.active{
    color: var(--twitter-color);
}
.sidebar_tweet{
    width: 100%;
    background-color: var(--twitter-color);
    border:none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}
body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
}
.Sidebar{
    border-right:1px solid var(--twitter-background);
    flex:0.25;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.fa-twitter{
    color: var(--twitter-color);
    font-size: 30px;
}
/*feed styling*/
.feed{
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width:fit-content;
    overflow-y: scroll;
}
.feed_header{
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 1;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.feed_header h2{
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar{
    display: none;
}
.tweetbox_input img {
    border-radius: 50%;
    height: 40px;
}
.tweetbox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;

}
.tweetbox form{
    display: flex;
    flex-direction: column;
}
.tweetbox_input{
    display: flex;
    padding: 20px;
}
.tweetbox_input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}
.TweetBox_tweetButton{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}
/*styling  for post*/
.post_avatar img{
    border-radius: 50%;
    height: 40px;
}
.post{
    display: flex;
    align-items:flex-start;
    border-bottom:1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post_body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}
.post_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.post__badge{
    font-size: 14px;
    color:var(--twitter-color);
    margin-right: 5px;
}
.post_headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post_headerText h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.post_headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}
.post_body{
    flex: 1;
    padding: 10px;
}
.post_avatar{
    padding: 20px;
}
.widget{
    flex: 0.3;
}
.widget_input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.widget_input input{
    border:none;
    background-color: var(--twitter-background);
    outline: none;
}
.wisgets_searchIcon{
    color: gray;

}
.widget_widgetContainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widget_widgetContainer h2{
    font-size: 18px;
    font-weight: 800;
}
.twtbox{
    text-align: end;
   
}

 .image-upload > input
 {
     display: none;
 }
 .remove_twt{
    display:inline;
    float:right;
 }


 /*Modal Background*/
 .login_class{
    display: none;
     position:fixed;
     z-index: 1;
     left:0;
     top:0;
     width: 100%;
     height: 100%;
     overflow: auto;
     animation-name: fadeIn;
     animation-duration: 0.4;
     background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
   }
   .model-content{
     display: flex;
     flex-direction: column;
     margin:550px;
     position:fixed;
    margin-top:150px;
     background-color:#fefefe;
     width:300px;
     text-align: center;
     animation-name:sildeIn;
     animation-duration: 0.4;
     border-radius: 25px;
   }
   /*close button*/
   .close{
   color:white;
   float: right;
   font-size: 28px;
   font-weight: bold;
   }
   .close:hover,.close:focus{
     color:#000;
     text-decoration: none;
     cursor: pointer;
   }
   .modal-header{
     padding: 2px 16px;
     background-color:var(--twitter-color);
     color: black;
    border-radius: 15px;
   }
   .modal-body{
    margin:0px;
    padding:0px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
   }
   .modal-footer{
     padding: 2px 16px;

   }
   @keyframes sildIn{
     from {bottom: -300px; opacity: 0}
to {bottom: 0; opacity: 1}
   }
   @keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}
.btn-btn{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
}
.input_field{
    border-radius: 20px;
    height: 35px;
    width: 250px;
    margin: 0px;
    border:none;
   
}
.input-container{
    border:1px solid var(--twitter-color);
    border-radius:30px;
    margin: 7px;
}
.icononic{

  color:gray;

  text-align: center;
}